---
region: 'eu-west-2'

component: 'test'

work_directory: 'build'
configuration_directory: "%{hiera('work_directory')}/%{hiera('source_directory')}"

private_zone_id: 'Z2CDAFD23Q10HO'
account_id: '579878096224'

vpc_cidr: "10.1.0.0/16"
availability_zones:
  - 'eu-west-2a'
  - 'eu-west-2b'

lambda_zip_path: 'lambda.zip'
lambda_ingress_cidr_blocks:
  - "10.0.0.0/8"
lambda_egress_cidr_blocks:
  - "0.0.0.0/0"
lambda_environment_variables:
  TEST_ENV_VARIABLE: "test-value"
lambda_function_name: "test-lambda-resource"
lambda_handler: "handler.hello"
